body {
    background-image: url("source/image.jpg");
    font-family: Helvetica;
    text-align: center;
    font-size: 22px;
}

H1 {
    color: white;
    height: 44px;
}

H3, H4, H5 {
    color: #060606;
}

a:visited, .borderDiv, .contentsDiv H2, .borderDiv, .rangeDiv {
    color: #BDBDBD;
}



.contentsDiv {
    width: 1672px;
    left: 6%;
    top: 15%;

    background-color: #141414;

    position: absolute;
    display: block;
    
    border-radius: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}

.contentsDiv H2 {
    display: block;

    margin: 1px auto;
    padding: 16px;
    width: 700px;
 
    background-color: #181818;

    border-radius: 32px;
    box-shadow: rgba(255, 255, 255, 0.8) 0px 5px
}

.contentsDiv HR {
    border: 3px solid #1C1D1F
}


.contentsDiv input[type = "text"], .contentsDiv input[type = "password"], .contentsDiv input[type = "number"], .contentsDiv input[type = "range"], .contentsDiv textarea, .contentsDiv select {
    background: none;
    display: block;
    outline: none;
    
    margin: -5px auto;
    text-align: center;
    font-size: large;

    width: 672px;
    height: 64px;

    border-radius: 12px;
    border: 0.5px solid #7E55BD;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}

.contentsDiv select {
    color: black;
}

.contentsDiv textarea {
    resize: none;
    width: 300px;
    height: 128px;   
}

.contentsDiv p {
    margin: 8px 0px 40px 0px;
    font-family: "Calibri";
    font-size: 18px;
}



.rangeDiv {
    display: block;
    margin: -5px auto;

    width: 672px;
    line-height: 20px;
    font-size: 14px;

    border-radius: 12px;
    border: 2px solid rgba(126, 85, 189, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}



.borderDiv {
    display: block;
    margin: -5px auto;

    width: 156px;
    line-height: 25px;
    font-size: 14px;

    border-radius: 12px;
    border: 2px solid rgba(126, 85, 189, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}


.externSpace_1 {
    display: inline-block;
    margin-bottom: 80px;
    margin-top: 64px;
}

.externSpace_2 {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.externSpace_1 p {
    margin: 80px 0px 80px 0px;

    color: #3B3B3B;

    font-family: "Calibri";
    font-size: 20px;
}

.externSpace_1 a {
    color: #BDBDBD;
}

.externSpace_1 a:hover {
    color: #3B3B3B;
}



.authorInfo {
    font-size: 24px;
    font-family: Tahoma;
}


::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #333333;
}
  
::-webkit-scrollbar-thumb {
    background: #101010;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #7E55BD;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}